* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INICIO*/
body {
  font-family: "Montserrat", sans-serif;
}

body .index {
  height: 5000px;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 160px;
  color: #2fb4cc;
  font-weight: 600;
  transition: 0.5s;
}

.content h1:hover {
  -webkit-text-stroke: 2px #2fb4cc;
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #2fb4cc;
  font-size: 24px;
  border: 2px solid #2fb4cc;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/*FIN INICIO*/
/* INICIO NAV*/
nav {
  background-image: url(../imagenes/imgNav2.jpg);
  background-size: cover;
}

ul {
  font-size: 30px;
  margin-top: 30px;
  margin-right: 50px;
}

ul li {
  padding: 15px;
}

.navbar {
  color: white;
}

/* FIN NAV*/
/* NOSOTROS */
.cajaNosotros {
  background-color: black;
  height: 1500px;
}

.imagen1-nosotros {
  display: flex;
  width: 200px;
  margin-left: 500px;
  margin-top: 80px;
  height: 230px;
}

.tl-historia {
  color: #faf5f5;
  margin-top: 50px;
  margin-left: -450px;
  justify-content: center;
  font-weight: 700;
  display: flex;
}

.tl-info-text {
  margin-top: 50px;
  margin-left: 500px;
  width: 820px;
  line-height: 1.9;
  font-size: 20px;
  display: flex;
  opacity: 0.6;
  color: #fff9f9;
}

.imagen2-nosotros {
  height: 300px;
  width: 350px;
  color: white;
  margin-top: 100px;
  display: flex;
  margin-left: 500px;
}

.tl-info-text1 {
  margin-top: 20px;
  margin-left: 500px;
  width: 820px;
  line-height: 1.9;
  font-size: 20px;
  display: flex;
  opacity: 0.6;
  color: #fff9f9;
}

@media (max-width: 1360px) {
  .imagen1-nosotros {
    display: flex;
    width: 200px;
    margin-left: 300px;
    margin-top: 80px;
    height: 230px;
  }
  .tl-info-text1 {
    margin-top: 20px;
    margin-left: 300px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
  .imagen2-nosotros {
    height: 300px;
    width: 350px;
    color: white;
    margin-top: 100px;
    display: flex;
    margin-left: 300px;
  }
  .tl-info-text {
    margin-top: 50px;
    margin-left: 300px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
}
@media (max-width: 1140px) {
  .imagen1-nosotros {
    display: flex;
    width: 200px;
    margin-left: 100px;
    margin-top: 80px;
    height: 230px;
  }
  .tl-info-text1 {
    margin-top: 20px;
    margin-left: 100px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
  .imagen2-nosotros {
    height: 300px;
    width: 350px;
    color: white;
    margin-top: 100px;
    display: flex;
    margin-left: 100px;
  }
  .tl-info-text {
    margin-top: 50px;
    margin-left: 100px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
}
@media (max-width: 940px) {
  .imagen1-nosotros {
    display: flex;
    width: 200px;
    margin-left: 50px;
    margin-top: 80px;
    height: 230px;
  }
  .tl-info-text1 {
    margin-top: 20px;
    margin-left: 50px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
  .imagen2-nosotros {
    height: 300px;
    width: 350px;
    color: white;
    margin-top: 50px;
    display: flex;
    margin-left: 100px;
  }
  .tl-info-text {
    margin-top: 50px;
    margin-left: 50px;
    width: 820px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
}
@media (max-width: 890px) {
  .imagen1-nosotros {
    display: flex;
    width: 200px;
    margin-left: 20px;
    margin-top: 80px;
    height: 230px;
  }
  .tl-info-text1 {
    margin-top: 20px;
    margin-left: 20px;
    width: 620px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
  .imagen2-nosotros {
    height: 300px;
    width: 350px;
    color: white;
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
  }
  .tl-info-text {
    margin-top: 20px;
    margin-left: 50px;
    width: 620px;
    line-height: 1.9;
    font-size: 20px;
    display: flex;
    opacity: 0.6;
    color: #fff9f9;
  }
}
/* FIN NOSOTROS */
/* PRODUCTOS */
body .productos {
  height: 5000px;
}

.containerCard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1800px;
  margin-top: 100px;
  padding-left: 100px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido a:hover {
  background: #2fb4cc;
  color: #fff;
}

span {
  font-weight: 600;
  display: flex;
  margin-left: 80px;
  font-size: 30px;
}

.imagen1-productos {
  width: auto;
  height: 246px;
}

.imagen2-productos {
  width: auto;
  height: 140px;
}

.imagen3-productos {
  width: auto;
  height: 150px;
}

.imagen4-productos {
  width: auto;
  height: 200px;
}

.imagen5-productos {
  width: auto;
  height: 340px;
}

.imagen6-productos {
  width: auto;
  height: 300px;
}

.imagen7-productos {
  width: auto;
  height: 340px;
}

.imagen8-productos {
  width: auto;
  height: 350px;
}

@media (max-width: 1400px) {
  .imagen1-productos {
    width: auto;
    height: 146px;
  }
  .imagen2-productos {
    width: auto;
    height: 100px;
  }
  .imagen3-productos {
    width: auto;
    height: 100px;
  }
  .imagen4-productos {
    width: auto;
    height: 100px;
  }
  .imagen5-productos {
    width: auto;
    height: 240px;
  }
  .imagen6-productos {
    width: auto;
    height: 200px;
  }
  .imagen7-productos {
    width: auto;
    height: 240px;
  }
  .imagen8-productos {
    width: auto;
    height: 250px;
  }
  span {
    font-weight: 600;
    display: flex;
    margin-left: 50px;
    font-size: 30px;
  }
}
@media (max-width: 1280px) {
  .containerCard {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1800px;
    margin-top: 100px;
    padding-left: 100px;
  }
  span {
    font-weight: 400;
    display: flex;
    margin-left: 40px;
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .containerCard {
    width: 50% 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1800px;
    margin-top: 100px;
    padding-left: 100px;
  }
  .imagen1-productos {
    width: auto;
    height: 100px;
  }
  .imagen2-productos {
    width: auto;
    height: 70px;
  }
  .imagen3-productos {
    width: auto;
    height: 70px;
  }
  .imagen4-productos {
    width: auto;
    height: 100px;
  }
  .imagen5-productos {
    width: auto;
    height: 130px;
  }
  .imagen6-productos {
    width: auto;
    height: 100px;
  }
  .imagen7-productos {
    width: auto;
    height: 140px;
  }
  .imagen8-productos {
    width: auto;
    height: 150px;
  }
  span {
    font-weight: 400;
    display: flex;
    margin-left: 80px;
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .containerCard {
    width: 40% 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1800px;
    margin-top: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 290px) {
  .containerCard {
    width: 40% 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1800px;
    margin-top: 100px;
    padding-left: 100px;
  }
  span {
    font-weight: 400;
    display: flex;
    margin-left: 40px;
    font-size: 20px;
  }
}
/* FIN PRODUCTOS */
/*GALERIA*/
.imagen {
  width: 100%;
}

.grid-container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto 33% 33%;
  grid-template-rows: 30% 30% 30%;
  margin-top: 20px;
}

.galeria {
  margin-top: 60px;
}

#imagen1-galeria {
  width: 350px;
}

#imagen2-galeria {
  width: 350px;
}

#imagen3-galeria {
  width: 350px;
}

#imagen4-galeria {
  width: 350px;
}

#imagen5-galeria {
  width: 350px;
}

#imagen6-galeria {
  width: 350px;
}

#imagen7-galeria {
  width: 350px;
}

#imagen8-galeria {
  width: 350px;
}

#imagen9-galeria {
  width: 350px;
}

@media (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto 25% 25% 25%;
    height: 100%;
    width: 100%;
  }
  .imagen {
    width: 100%;
  }
  #imagen1-galeria {
    width: 250px;
  }
  #imagen2-galeria {
    width: 250px;
  }
  #imagen3-galeria {
    width: 250px;
  }
  #imagen4-galeria {
    width: 250px;
  }
  #imagen5-galeria {
    width: 250px;
  }
  #imagen6-galeria {
    width: 250px;
  }
  #imagen7-galeria {
    width: 250px;
  }
  #imagen8-galeria {
    width: 250px;
  }
  #imagen9-galeria {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto 20% 20% 20% 20% 20%;
    height: 100%;
    width: 100%;
  }
  .imagen {
    width: 100%;
  }
  .galeria {
    margin-top: 20px;
  }
}
/* FIN GALERIA*/
/*FORMULARIO*/
form {
  width: 700px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 100px;
  border-radius: 7px;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #31384a;
  color: #2fb4cc;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
/* FIN FORMULARIO *//*# sourceMappingURL=estilos.css.map */